body{
}

/* .box{

    background-color: brown;
    border:3px solid black;
}
.block{
    display: inline-block;
    overflow: hidden;
    height: 100px;
    width: 200px;
    position:sticky;
    top:10px;
   
}
.inline{
    width: 100vh;
    height: auto;
    display: inline-block;
    position:sticky;
    left:0px;
    bottom: 0px;
    

}
.chat{
    border: 3px solid maroon;
    height: 10px;
    width: 10vh;
    position:relative;
    top: 10px;
    left: 20px;
}

.navigation{
    position:sticky;
    top:0px;
    height: 60px;
    width:100%;
    background-color : azure;
}
 */
 /* .boxes{
    display: flex;
    flex-direction:row;
    justify-content: center;
    height: 300px;
    width: 500px;
    background-color: aqua;


 
 }
 .box{
    border: 3px solid red;
    margin: 5px ;
    height: 10rem;
    width: 20rem;
 }
 .one{
    flex-grow: 3;
 }
  */
@media only screen and (max-width:1000px){
    html{
        background-color: hotpink;
        font-size: 200px;
        font-style: italic;
        color: blue;
    }
    h1{

    }
}
@media only screen and (max-width:750px){
    body{
        background-color:red;
    }
    h1{
        font-size: 100px;
        font-style:oblique;
        color: aqua;
    }
}
@media only screen and (max-width:500px){
    body{
        background-color: green;
    }
}